@charset "utf-8";

* {
  box-sizing: border-box;
  &:focus{
    outline: none
  }
}

html,body{
  height: 100%;
  min-height: 100%;
}
body{
  position: relative;
  background-color: transparent;
}
/* Fonts */

/* Regular */

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('../fonts/TitilliumWeb-Regular.ttf');
}

/* Light */
@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../fonts/TitilliumWeb-Light.ttf');
}




/** clear **/

@mixin cleardiv {
  &:after,
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

.cleardiv {
  @include cleardiv;
}
/** texto centrado verticalmente **/

@mixin mflex-center {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}
.flex-center {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  @include mflex-center;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/** **/

.icon-style {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a,
input[type=submit],
button,
.transit {
  transition: all 0.5s ease-out;
}
.reset {
  padding-left: 0;
  margin: 0;
}
.widthWeb {
  width: 95%;
  margin: auto;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}

.bg-section{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

